/*-----------------------------------------------------Oferta Tema--------------------------------------------------*/
.oferta {
  width: 100%; }
  .oferta .oferta__title {
    width: 100%;
    text-align: center; }
